AGASQLI/Service References/ServiceDemande/TraiterDemande.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TraiterDemande" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14058/TraiterDemande.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterDemande.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterDemande.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AGA.DTO.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITraiterDemande_GetDemandesEnAttenteList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesEnAttenteList" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetDemandesEnAttenteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesEnAttenteListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetNombreDemandesEnAttente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNombreDemandesEnAttente" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetNombreDemandesEnAttente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNombreDemandesEnAttenteResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetDemandesListParCollaborateur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesListParCollaborateur" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetDemandesListParCollaborateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesListParCollaborateurResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetDemandesEnCoursParAssistante_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesEnCoursParAssistante" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_GetDemandesEnCoursParAssistante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesEnCoursParAssistanteResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_AjouterDemandesListAssistante_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterDemandesListAssistante" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_AjouterDemandesListAssistante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterDemandesListAssistanteResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutEnCours_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutEnCours" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutEnCours_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutEnCoursResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutEnCoursList_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutEnCoursList" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutEnCoursList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutEnCoursListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutPrete_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutPrete" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutPrete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutPreteResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutPreteList_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutPreteList" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutPreteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutPreteListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutRejetee_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutRejetee" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutRejetee_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutRejeteeResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutRejeteeList_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutRejeteeList" />
  </wsdl:message>
  <wsdl:message name="ITraiterDemande_ChangerStatutRejeteeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangerStatutRejeteeListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITraiterDemande">
    <wsdl:operation name="GetDemandesEnAttenteList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/GetDemandesEnAttenteList" message="tns:ITraiterDemande_GetDemandesEnAttenteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/GetDemandesEnAttenteListResponse" message="tns:ITraiterDemande_GetDemandesEnAttenteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNombreDemandesEnAttente">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/GetNombreDemandesEnAttente" message="tns:ITraiterDemande_GetNombreDemandesEnAttente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/GetNombreDemandesEnAttenteResponse" message="tns:ITraiterDemande_GetNombreDemandesEnAttente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandesListParCollaborateur">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/GetDemandesListParCollaborateur" message="tns:ITraiterDemande_GetDemandesListParCollaborateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/GetDemandesListParCollaborateurResponse" message="tns:ITraiterDemande_GetDemandesListParCollaborateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandesEnCoursParAssistante">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/GetDemandesEnCoursParAssistante" message="tns:ITraiterDemande_GetDemandesEnCoursParAssistante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/GetDemandesEnCoursParAssistanteResponse" message="tns:ITraiterDemande_GetDemandesEnCoursParAssistante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjouterDemandesListAssistante">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/AjouterDemandesListAssistante" message="tns:ITraiterDemande_AjouterDemandesListAssistante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/AjouterDemandesListAssistanteResponse" message="tns:ITraiterDemande_AjouterDemandesListAssistante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutEnCours">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutEnCours" message="tns:ITraiterDemande_ChangerStatutEnCours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutEnCoursResponse" message="tns:ITraiterDemande_ChangerStatutEnCours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutEnCoursList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutEnCoursList" message="tns:ITraiterDemande_ChangerStatutEnCoursList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutEnCoursListResponse" message="tns:ITraiterDemande_ChangerStatutEnCoursList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutPrete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutPrete" message="tns:ITraiterDemande_ChangerStatutPrete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutPreteResponse" message="tns:ITraiterDemande_ChangerStatutPrete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutPreteList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutPreteList" message="tns:ITraiterDemande_ChangerStatutPreteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutPreteListResponse" message="tns:ITraiterDemande_ChangerStatutPreteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutRejetee">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutRejetee" message="tns:ITraiterDemande_ChangerStatutRejetee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutRejeteeResponse" message="tns:ITraiterDemande_ChangerStatutRejetee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutRejeteeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutRejeteeList" message="tns:ITraiterDemande_ChangerStatutRejeteeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterDemande/ChangerStatutRejeteeListResponse" message="tns:ITraiterDemande_ChangerStatutRejeteeList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITraiterDemande" type="tns:ITraiterDemande">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDemandesEnAttenteList">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/GetDemandesEnAttenteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNombreDemandesEnAttente">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/GetNombreDemandesEnAttente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandesListParCollaborateur">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/GetDemandesListParCollaborateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandesEnCoursParAssistante">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/GetDemandesEnCoursParAssistante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AjouterDemandesListAssistante">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/AjouterDemandesListAssistante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutEnCours">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/ChangerStatutEnCours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutEnCoursList">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/ChangerStatutEnCoursList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutPrete">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/ChangerStatutPrete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutPreteList">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/ChangerStatutPreteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutRejetee">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/ChangerStatutRejetee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangerStatutRejeteeList">
      <soap:operation soapAction="http://tempuri.org/ITraiterDemande/ChangerStatutRejeteeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraiterDemande">
    <wsdl:port name="BasicHttpBinding_ITraiterDemande" binding="tns:BasicHttpBinding_ITraiterDemande">
      <soap:address location="http://localhost:14058/TraiterDemande.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>