AGASQLI/Service References/ServiceNotification/Notification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14058/Notification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" />
  <xs:element name="NotifierCollaborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="demande" nillable="true" type="q1:Demande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierCollaborateurResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierCollaborateurList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="demandesList" nillable="true" type="q2:ArrayOfDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierCollaborateurListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierAssistantesDemandesEnAttente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierAssistantesDemandesEnAttenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierResponsable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="demande" nillable="true" type="q3:Demande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifierResponsableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>