AGASQLI/Service References/ServiceCollaborateur/TraiterCollaborateur2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Collaborateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Civilite" nillable="true" type="tns:Civilite" />
      <xs:element minOccurs="0" name="Cnss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDebutTravail" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsEligible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poste" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collaborateur" nillable="true" type="tns:Collaborateur" />
  <xs:complexType name="Civilite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Civilite" nillable="true" type="tns:Civilite" />
  <xs:complexType name="ArrayOfCollaborateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collaborateur" nillable="true" type="tns:Collaborateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollaborateur" nillable="true" type="tns:ArrayOfCollaborateur" />
  <xs:complexType name="ArrayOfStagiaire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stagiaire" nillable="true" type="tns:Stagiaire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStagiaire" nillable="true" type="tns:ArrayOfStagiaire" />
  <xs:complexType name="Stagiaire">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Civilite" nillable="true" type="tns:Civilite" />
      <xs:element minOccurs="0" name="DateDebut" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stagiaire" nillable="true" type="tns:Stagiaire" />
</xs:schema>