AGASQLI/Service References/ServiceCollaborateur/TraiterCollaborateur.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TraiterCollaborateur" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITraiterCollaborateur_GetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmail" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetEmailList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailList" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetEmailList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetAssistantesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssistantesList" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetAssistantesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssistantesListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetStagiairesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiairesList" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetStagiairesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiairesListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetStagiairesPfeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiairesPfeList" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetStagiairesPfeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiairesPfeListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetCollaborateursNonEligiblesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollaborateursNonEligiblesList" />
  </wsdl:message>
  <wsdl:message name="ITraiterCollaborateur_GetCollaborateursNonEligiblesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollaborateursNonEligiblesListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITraiterCollaborateur">
    <wsdl:operation name="GetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetEmail" message="tns:ITraiterCollaborateur_GetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetEmailResponse" message="tns:ITraiterCollaborateur_GetEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetEmailList" message="tns:ITraiterCollaborateur_GetEmailList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetEmailListResponse" message="tns:ITraiterCollaborateur_GetEmailList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssistantesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetAssistantesList" message="tns:ITraiterCollaborateur_GetAssistantesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetAssistantesListResponse" message="tns:ITraiterCollaborateur_GetAssistantesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagiairesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetStagiairesList" message="tns:ITraiterCollaborateur_GetStagiairesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetStagiairesListResponse" message="tns:ITraiterCollaborateur_GetStagiairesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagiairesPfeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetStagiairesPfeList" message="tns:ITraiterCollaborateur_GetStagiairesPfeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetStagiairesPfeListResponse" message="tns:ITraiterCollaborateur_GetStagiairesPfeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollaborateursNonEligiblesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetCollaborateursNonEligiblesList" message="tns:ITraiterCollaborateur_GetCollaborateursNonEligiblesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraiterCollaborateur/GetCollaborateursNonEligiblesListResponse" message="tns:ITraiterCollaborateur_GetCollaborateursNonEligiblesList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITraiterCollaborateur" type="tns:ITraiterCollaborateur">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmail">
      <soap:operation soapAction="http://tempuri.org/ITraiterCollaborateur/GetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailList">
      <soap:operation soapAction="http://tempuri.org/ITraiterCollaborateur/GetEmailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssistantesList">
      <soap:operation soapAction="http://tempuri.org/ITraiterCollaborateur/GetAssistantesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagiairesList">
      <soap:operation soapAction="http://tempuri.org/ITraiterCollaborateur/GetStagiairesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagiairesPfeList">
      <soap:operation soapAction="http://tempuri.org/ITraiterCollaborateur/GetStagiairesPfeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollaborateursNonEligiblesList">
      <soap:operation soapAction="http://tempuri.org/ITraiterCollaborateur/GetCollaborateursNonEligiblesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraiterCollaborateur">
    <wsdl:port name="BasicHttpBinding_ITraiterCollaborateur" binding="tns:BasicHttpBinding_ITraiterCollaborateur">
      <soap:address location="http://localhost:14058/TraiterCollaborateur.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>