AGASQLI/Service References/ServiceCollaborateur/TraiterCollaborateur3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" />
  <xs:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:14058/TraiterCollaborateur.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="GetEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="collaborateur" nillable="true" type="q1:Collaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="collaborateurList" nillable="true" type="q2:ArrayOfCollaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEmailListResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistantesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistantesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="GetAssistantesListResult" nillable="true" type="q4:ArrayOfCollaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagiairesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="fichierExcel" nillable="true" type="q5:FileStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagiairesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="GetStagiairesListResult" nillable="true" type="q6:ArrayOfStagiaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagiairesPfeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStagiairesPfeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="GetStagiairesPfeListResult" nillable="true" type="q7:ArrayOfStagiaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaborateursNonEligiblesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaborateursNonEligiblesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AGA.Common.DTO.Models" minOccurs="0" name="GetCollaborateursNonEligiblesListResult" nillable="true" type="q8:ArrayOfCollaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>